*.o
Makefile.in
*.m4
autom4te.cache
configure
include/config.h*
install-sh
missing
ar-lib
config.guess
config.sub
compile
depcomp
ltmain.sh
Makefile
config.log
config.status
include/stamp-h1
.deps
libtool
.libs
*.la
*.lo
*.gcda
*.gcno
*.gcov
*.gcov_report
coverage
coverage.info*
libceylon-*.tar.*
test-driver
tests/test-suite.log
src/ceylon-launcher
